## Simple recommender system with movielens 100k data set
- reference: https://acodeforthought.wordpress.com/2016/12/26/building-a-simple-recommender-system-with-movie-lens-data-set/

In [1]:
import pandas as pd
import numpy as np

### Data import

In [2]:
# 각 데이터(user, item, rating)의 열 이름(column name)을 정의한다
user_cols = ['user id','age','gender','occupation','zip code']
item_cols = ['movie id','movie title','release date','video release date',
             'IMDb URL','unknown','Action','Adventure','Animation','Childrens',
             'Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror',
             'Musical','Mystery','Romance ','Sci-Fi','Thriller','War' ,'Western']
rating_cols = ['user id','movie id','rating','timestamp']

In [3]:
# pandas의 read_csv() 함수를 활용해 각 데이터셋을 불러온다
users = pd.read_csv('ml-100k/u.user', sep = '|', names = user_cols, encoding = 'latin-1')       
items = pd.read_csv('ml-100k/u.item', sep = '|', names = item_cols, encoding = 'latin-1')
ratings = pd.read_csv('ml-100k/u.data', sep = '\t', names = rating_cols, encoding = 'latin-1')

## Data Preprocessing

### Merge datasets
- merge items, ratings, and users dataset, and create a whole dataset

In [4]:
whole_data = pd.merge(pd.merge(items, ratings), users)

In [5]:
print(whole_data.head())

   movie id            movie title release date  video release date  \
0         1       Toy Story (1995)  01-Jan-1995                 NaN
1         4      Get Shorty (1995)  01-Jan-1995                 NaN
2         5         Copycat (1995)  01-Jan-1995                 NaN
3         7  Twelve Monkeys (1995)  01-Jan-1995                 NaN
4         8            Babe (1995)  01-Jan-1995                 NaN

                                            IMDb URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
2  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0
3  http://us.imdb.com/M/title-exact?Twelve%20Monk...        0       0
4     http://us.imdb.com/M/title-exact?Babe%20(1995)        0       0

   Adventure  Animation  Childrens    ...     Thriller  War  Western  user id  \
0          0          1          1    ...            0    0        0      308
1          0          0          0    ...            0    0        0      308
2          0          0          0    ...            1    0        0      308
3          0          0          0    ...            0    0        0      308
4          0          0          1    ...            0    0        0      308

   rating  timestamp  age  gender  occupation  zip code
0       4  887736532   60       M     retired     95076
1       5  887737890   60       M     retired     95076
2       4  887739608   60       M     retired     95076
3       4  887738847   60       M     retired     95076
4       5  887736696   60       M     retired     95076

[5 rows x 31 columns]

### Group & average data
- 데이터 인스턴스(관측치)들을 영화의 제목(movie title)을 기준으로 그루핑한다
- 각 영화에 해당하는 rating들을 평균 내 average ratings를 계산한다

In [6]:
ratings_total = whole_data.groupby('movie title').size()    # number of people who rated each movie

In [7]:
print(ratings_total.head())

movie title
'Til There Was You (1997)      9
1-900 (1994)                   5
101 Dalmatians (1996)        109
12 Angry Men (1957)          125
187 (1997)                    41
dtype: int64

In [8]:
ratings_mean = (whole_data.groupby('movie title'))['movie title', 'rating'].mean()    # mean rating of each movie

In [9]:
print(ratings_mean.head())

                             rating
movie title
'Til There Was You (1997)  2.333333
1-900 (1994)               2.600000
101 Dalmatians (1996)      2.908257
12 Angry Men (1957)        4.344000
187 (1997)                 3.024390

In [10]:
ratings_total = pd.DataFrame({'movie title': ratings_total.index, 'total ratings': ratings_total.values})
ratings_total

                                            movie title  total ratings
0                             'Til There Was You (1997)              9
1                                          1-900 (1994)              5
2                                 101 Dalmatians (1996)            109
3                                   12 Angry Men (1957)            125
4                                            187 (1997)             41
5                           2 Days in the Valley (1996)             93
6                   20,000 Leagues Under the Sea (1954)             72
7                          2001: A Space Odyssey (1968)            259
8           3 Ninjas: High Noon At Mega Mountain (1998)              5
9                                  39 Steps, The (1935)             59
10                                         8 1/2 (1963)             38
11                       8 Heads in a Duffel Bag (1997)              4
12                                     8 Seconds (1994)              4
13                                A Chef in Love (1996)              8
14                                 Above the Rim (1994)              5
15                                Absolute Power (1997)            127
16                                    Abyss, The (1989)            151
17                    Ace Ventura: Pet Detective (1994)            103
18                Ace Ventura: When Nature Calls (1995)             37
19                        Across the Sea of Time (1995)              4
20                          Addams Family Values (1993)             87
21                              Addicted to Love (1997)             54
22                                Addiction, The (1995)             11
23                  Adventures of Pinocchio, The (1996)             39
24    Adventures of Priscilla, Queen of the Desert, ...            111
25                 Adventures of Robin Hood, The (1938)             67
26                        Affair to Remember, An (1957)             26
27                            African Queen, The (1951)            152
28                                     Afterglow (1997)             18
29                         Age of Innocence, The (1993)             65
...                                                 ...            ...
1634                             Window to Paris (1994)              1
1635                            Wings of Courage (1995)              1
1636                             Wings of Desire (1987)             57
1637                      Wings of the Dove, The (1997)             75
1638        Winnie the Pooh and the Blustery Day (1968)             75
1639                           Winter Guest, The (1997)              9
1640                                  Wishmaster (1997)             27
1641                                 With Honors (1994)             46
1642                              Withnail and I (1987)             13
1643                                     Witness (1985)              1
1644                           Wizard of Oz, The (1939)            246
1645                                        Wolf (1994)             67
1646                      Woman in Question, The (1950)              1
1647                                  Women, The (1939)             15
1648  Wonderful, Horrible Life of Leni Riefenstahl, ...             10
1649                                  Wonderland (1997)             10
1650            Wooden Man's Bride, The (Wu Kui) (1994)              3
1651             World of Apu, The (Apur Sansar) (1959)              6
1652                         Wrong Trousers, The (1993)            118
1653                                  Wyatt Earp (1994)             50
1654                                 Yankee Zulu (1994)              1
1655                           Year of the Horse (1997)              7
1656                                You So Crazy (1994)              1
1657                          Young Frankenstein (1974)            200
1658                                  Young Guns (1988)            101
1659                               Young Guns II (1990)             44
1660              Young Poisoner's Handbook, The (1995)             41
1661                            Zeus and Roxanne (1997)              6
1662                                            unknown              9
1663                 Á köldum klaka (Cold Fever) (1994)              1

[1664 rows x 2 columns]

In [11]:
ratings_mean['movie title'] = ratings_mean.index
ratings_mean

,rating,movie title
movie title,,
'Til There Was You (1997),2.333333,'Til There Was You (1997)
1-900 (1994),2.600000,1-900 (1994)
101 Dalmatians (1996),2.908257,101 Dalmatians (1996)
12 Angry Men (1957),4.344000,12 Angry Men (1957)
187 (1997),3.024390,187 (1997)
2 Days in the Valley (1996),3.225806,2 Days in the Valley (1996)
"20,000 Leagues Under the Sea (1954)",3.500000,"20,000 Leagues Under the Sea (1954)"
2001: A Space Odyssey (1968),3.969112,2001: A Space Odyssey (1968)
3 Ninjas: High Noon At Mega Mountain (1998),1.000000,3 Ninjas: High Noon At Mega Mountain (1998)
"39 Steps, The (1935)",4.050847,"39 Steps, The (1935)"
8 1/2 (1963),3.815789,8 1/2 (1963)
8 Heads in a Duffel Bag (1997),3.250000,8 Heads in a Duffel Bag (1997)
8 Seconds (1994),3.750000,8 Seconds (1994)
A Chef in Love (1996),4.125000,A Chef in Love (1996)
Above the Rim (1994),3.000000,Above the Rim (1994)
Absolute Power (1997),3.370079,Absolute Power (1997)
"Abyss, The (1989)",3.589404,"Abyss, The (1989)"
Ace Ventura: Pet Detective (1994),3.048544,Ace Ventura: Pet Detective (1994)
Ace Ventura: When Nature Calls (1995),2.675676,Ace Ventura: When Nature Calls (1995)
Across the Sea of Time (1995),2.750000,Across the Sea of Time (1995)
Addams Family Values (1993),2.816092,Addams Family Values (1993)
Addicted to Love (1997),3.166667,Addicted to Love (1997)
"Addiction, The (1995)",2.181818,"Addiction, The (1995)"
"Adventures of Pinocchio, The (1996)",3.051282,"Adventures of Pinocchio, The (1996)"
"Adventures of Priscilla, Queen of the Desert, The (1994)",3.594595,"Adventures of Priscilla, Queen of the Desert, ..."
"Adventures of Robin Hood, The (1938)",3.791045,"Adventures of Robin Hood, The (1938)"
"Affair to Remember, An (1957)",4.192308,"Affair to Remember, An (1957)"
"African Queen, The (1951)",4.184211,"African Queen, The (1951)"
Afterglow (1997),3.111111,Afterglow (1997)
"Age of Innocence, The (1993)",3.384615,"Age of Innocence, The (1993)"
...,...,...
Window to Paris (1994),4.000000,Window to Paris (1994)
Wings of Courage (1995),4.000000,Wings of Courage (1995)
Wings of Desire (1987),4.000000,Wings of Desire (1987)
"Wings of the Dove, The (1997)",3.680000,"Wings of the Dove, The (1997)"
Winnie the Pooh and the Blustery Day (1968),3.800000,Winnie the Pooh and the Blustery Day (1968)
"Winter Guest, The (1997)",3.444444,"Winter Guest, The (1997)"
Wishmaster (1997),2.444444,Wishmaster (1997)
With Honors (1994),3.065217,With Honors (1994)
Withnail and I (1987),3.230769,Withnail and I (1987)
Witness (1985),4.000000,Witness (1985)
"Wizard of Oz, The (1939)",4.077236,"Wizard of Oz, The (1939)"
Wolf (1994),2.701493,Wolf (1994)
"Woman in Question, The (1950)",1.000000,"Woman in Question, The (1950)"
"Women, The (1939)",3.666667,"Women, The (1939)"
"Wonderful, Horrible Life of Leni Riefenstahl, The (1993)",4.000000,"Wonderful, Horrible Life of Leni Riefenstahl, ..."
Wonderland (1997),3.200000,Wonderland (1997)
"Wooden Man's Bride, The (Wu Kui) (1994)",2.666667,"Wooden Man's Bride, The (Wu Kui) (1994)"
"World of Apu, The (Apur Sansar) (1959)",4.000000,"World of Apu, The (Apur Sansar) (1959)"
"Wrong Trousers, The (1993)",4.466102,"Wrong Trousers, The (1993)"
Wyatt Earp (1994),3.100000,Wyatt Earp (1994)
Yankee Zulu (1994),1.000000,Yankee Zulu (1994)
Year of the Horse (1997),3.285714,Year of the Horse (1997)
You So Crazy (1994),3.000000,You So Crazy (1994)
Young Frankenstein (1974),3.945000,Young Frankenstein (1974)
Young Guns (1988),3.207921,Young Guns (1988)
Young Guns II (1990),2.772727,Young Guns II (1990)
"Young Poisoner's Handbook, The (1995)",3.341463,"Young Poisoner's Handbook, The (1995)"
Zeus and Roxanne (1997),2.166667,Zeus and Roxanne (1997)
unknown,3.444444,unknown
Á köldum klaka (Cold Fever) (1994),3.000000,Á köldum klaka (Cold Fever) (1994)

## Building a simple recommender system

In [12]:
final = pd.merge(ratings_mean, ratings_total).sort_values(by = 'total ratings', ascending= False)   # sort movies by the number of total ratings

In [13]:
print(final.head(10))

        rating                    movie title  total ratings
1398  4.358491               Star Wars (1977)            583
333   3.803536                 Contact (1997)            509
498   4.155512                   Fargo (1996)            508
1234  4.007890      Return of the Jedi (1983)            507
860   3.156701               Liar Liar (1997)            485
460   3.656965    English Patient, The (1996)            481
1284  3.441423                  Scream (1996)            478
1523  3.878319               Toy Story (1995)            452
32    3.631090           Air Force One (1997)            431
744   3.438228  Independence Day (ID4) (1996)            429

In [14]:
final = final[:300].sort_values(by = 'rating', ascending = False)    # select only 300 frequently-rated movies
print(final.head(10))

        rating                       movie title  total ratings
1281  4.466443           Schindler's List (1993)            298
1652  4.466102        Wrong Trousers, The (1993)            118
273   4.456790                 Casablanca (1942)            243
1317  4.445230  Shawshank Redemption, The (1994)            283
1215  4.387560                Rear Window (1954)            209
1572  4.385768        Usual Suspects, The (1995)            267
1398  4.358491                  Star Wars (1977)            583
3     4.344000               12 Angry Men (1957)            125
303   4.292929               Citizen Kane (1941)            198
1507  4.292237      To Kill a Mockingbird (1962)            219